.avatar {
    border-radius: 50%;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.container {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.header {
    font-size: 17px;
    font-weight: bold;
    color: #428bca;
}

.data {
    color: #454545;
}

#halfToggleSet{
    position: absolute;
    left: 0px;
    bottom: 52px;
}

#favToggleSet{
    position: absolute;
    left: 175px;
    bottom: 52px;
}

#fav-panel{
    position: absolute;
    left: 175px;
    bottom: 88px;
}

.bottomInfoDiv{
    position: absolute;
    left: 0px;
    bottom: 88px;
}

.inputSearchData{
    width: 30em;
    height: 50px;
    font-size: x-large;
}

#oj-inputsearch-input-inputSearch35{
    width: 30em;
    height: 50px;
    font-size: x-large;
}