<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div style="width:30em; margin:10em auto;"> -->


<div id="searchDemo" style="width:30em; margin:10em auto;">
  <form id="searchForm">

    <div id="demo-status" style="color: blue"></div>  
    
    <input id="inputSearchMain" class="test_class" style="height: 120px; font-size: x-large;" placeholder="Universal search..."
        data-bind="ojComponent: {
            
            component: 'ojInputSearch',
            value:value,
            options: suggestions,
            optionsKeys: {
              label: 'groupName',
              children: 'items',
              childKeys: {
                label: 'id',
                value: 'id'
              }
            },
            optionTemplate: 'optionTemplate',
            rootAttributes: {style:'width: 60em;'}}">
  </form>
  <!-- Option Template -->
  <!-- Option Template -->
  <script type="text/html" id="optionTemplate">
    <!-- ko if: !$optionContext.leaf -->
      <div data-bind="text: groupName"></div>
    <!-- /ko -->
    <!-- ko if: $optionContext.leaf -->
      <!-- ko if: !($optionContext.parent.groupId) -->
        <div data-bind="text: label"></div>
      <!-- /ko -->
      <!-- ko if: $optionContext.parent.groupId -->
        <div>
          <span class="oj-listbox-highlighter-section">
            <span data-bind="text: id"></span>, 
            <span data-bind="text: customer"></span> 
          </span>
          <span style="font-size: 0.75rem">
            <span data-bind="text: org"></span> - 
            <span data-bind="text: created"></span>
          </span>  
        </div>
      <!-- /ko -->
    <!-- /ko -->
  </script>
</div>

<div id="tabs-container">
  <div id="tabs" data-bind="ojComponent:{component: 'ojTabs', disabledTabs: [2]}">
    <!-- tab bar -->
    <ul>
      <li><span>Recent</span></li>
      <li><span>Favorites</span></li>
    </ul>

    <!-- tab contents -->
    <div id="tabs-1">
      <p>Tab 1 Content</p>
    </div>
    <div id="tabs-2">
      <p>Tab 2 Content</p>
    </div>
  </div>
</div>




<!-- Recent tracked orders -->

<!--
<div id="RecentToggleSet" class="bottomButtons"
        data-bind="ojComponent: {component: 'ojButtonset',
        chroming: 'outlined'}">
    <label for="recent_tracked_orders">Recent tracked orders</label>
    <input  type="checkbox" id="recent_tracked_orders" value="toggle"
           data-bind=" ojComponent: {
               component: 'ojButton',  
               icons: {start:'fa fa-filter'}
           }" onclick="$( '#recent-panel' ).slideToggle();"/>
</div>
<div style="display:none;" id="recent-panel" class="oj-panel demo-mypanel bottomInfoDiv">
   <h3>Recent tracked orders</h3>
</div>

-->
<!-- Favourites tracked orders-->
<!--
<div id="favToggleSet" class="bottomButtons"
        data-bind="ojComponent: {component: 'ojButtonset',
        chroming: 'outlined'}">
    <label for="fav_tracked_orders">Fav tracked orders</label>
    <input  type="checkbox" id="fav_tracked_orders" value="toggle"
           data-bind=" ojComponent: {
               component: 'ojButton',  
               icons: {start:'fa fa-filter'}
           }" onclick="$( '#fav-panel' ).slideToggle();"/>
</div>
<div style="display:none;" id="fav-panel" class="oj-panel demo-mypanel bottomInfoDiv">
   <h3>Favourites tracked orders</h3>
</div>

-->